@tailwind base;
@tailwind components;
@tailwind utilities;

 
   @font-face {
     font-family: "ChangaOne";
     src: local("ChangaOne"),
         url("./fonts/ChangaOne-Regular.ttf") format("truetype");
     font-weight: bold; 
 } 
 